{
  "extends": "loopback",
  "globals": {
    "expect": false,
    "jasmine": false,
    "beforeAll": false,
    "afterAll": false
  },
  "rules": {
    "max-len": ["error", 100, 4, {"ignoreComments": true, "ignoreUrls": true,
      "ignorePattern": "^\\s*var\\s.+=\\s*require\\s*\\("}],
  }
}
